.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;

    @media only screen and (max-width: $bp-small) {
        padding: 7rem;
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 2rem;
        align-items: center;

        list-style: none;

        @media only screen and (max-width: $bp-large) {
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        }

        @media only screen and (max-width: $bp-medium) {
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        }
        
        &-link:link,
        &-link:visited {
            display: block;
            color: #fff;
            padding: 1.5rem;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.4rem;
            font-family: $font-display;
            transition: all 200ms;
        }

        &-link:hover,
        &-link:active {
            background-color: rgba(256,256,256,.05);
            transform: translateY(-3px);
        }
    }
}

.copyright {
    color: $color-grey-light-2;
    width: 70%;
    margin: 6rem auto 0 auto;
    font-size: 1.4rem;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
        margin: 5rem auto 0 auto;
    }

    @media only screen and (max-width: $bp-small) {
        width: 100%;
    }
}

